body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}


/* Global */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

/* Header */

header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header  a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}


/* Showcase */

#showcase {
    min-height: 400px;
    min-width: 400px;
    /* text-align: center;
    color: #ffffff;
    background: url(); */
    float: left;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
    float: left;
}

/* .signup-form {
    float: right;
} */

#forms {
    margin-top: 80px;
    margin-right: 100px;
    padding: 15px;
    color: #ffffff;
    background: #35424a;
    float:right;
    min-width: 500px;
    min-height: 600px;

}

/* #forms .signup-form form {
    float: right;
} */


#forms .container form input {
    width: 300px;
    height: 30px;
    border: #e8491d 2px solid;
}

#forms .container form button {
    margin-top: 20px;

}

.button {
    width: 200px;
    height: 30px;
    border-radius: 20px;
}